body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  }
  #div2{
    color:black;
    background:blue;
   }
  #div1{
    color:black;
    background:grey;
}
.yellow{
    background:yellow;
}
.red{
    background: palegoldenrod;
}
